<html>
  <head></head>
  <body>
    <h1>Welcome to MakersBNB!</h1>
    <form method="POST" action="/login">
    <label>Email address: </label>
    <input type="text" name="email">
    <br />
    <label>Password: </label>
    <input type="password" name="password" placeholder="password">
    <br />
    <input type="submit" value="Login">
    </form>
    
  </body>
</html>