<html>
<head></head>
<body>
<h1>Your login was unsuccessful!</h1>
<p>
  <form method="POST" action="/login">
    <label>Email address: </label>
    <input type="text" name="email" />
    <br />
    <label>Password: </label>
    <input type="password" name="password" />
    <br />
    <br /><br />
    <input type="submit" value="Log in now." />
  </form>
</p>
<br /><br />
<p>
  <a href= "/">Return to homepage.</a>  
</p>    
</body>
</html>