<html>
  <body>
    <h2>Hi <%= @name.first_name %>!</h2>  
    <h3>Your spaces</h3>
    <% @spaces.each do |space| %>
      <%= space.name %>
    <% end %>
    <h3>Your booking requests</h3>

    <% @bookings.each do |booking| %>
      <% space_id = booking.space_id %>
      <%= @space_repo.find(space_id).name %>

      <% end %>
    <br><br>
    <a href= "/spaces">Return to homepage</a>
    <br>
    <a href= "/logout">Log out</a> 
  </body>
</html>