<html>
  <head></head>
  <body>
    <h1>Your sign up was successful!</h1>
    <p>
      <a href= "/login">Please log in.</a>  
    </p>
    <br /><br />
    <p>
      <a href= "/">Return to homepage.</a>  
    </p>    
  </body>
</html>