<html>
  <head><h1>MakersBNB</h1><a href="/">Home</a></head>
  <body>
    <h1>Fill in your details below to sign up</h1>
    <form method="POST" action="/signup">
    <label>Email address: </label>
    <input type="text" name="email" /><br />
    <label>First name: </label>
    <input type="text" name="first_name" /><br />
    <label>Last name: </label>
    <input type="text" name="last_name" /><br />
    <label>Password: </label>
    <input type="text" name="password" /><br />
    <br /><br />
    <input type="submit" value="I am ready to experience MakersBNB!" />
    </form>
  </body>
</html>