<html>
  <head></head>
  <body>
    <h1> Welcome to MakersBNB! </h1>
    <h3><a href ="/profile">Your profile page</a></h3>
    <h2>Spaces</h2>
    <form method="POST" action="/spaces/filtered">
      <input type="date" name="date_from">
      <input type="date" name="date_to">
      <input type="submit" value="Filter"> 
      </form>

    <% @spaces.each do |space| %>
      <div>Name: <%= space.name %></div>
      <div>Description: <%= space.description %></div>
      <div>Price per night: <%= space.price_per_night%></div>
      <br>
    <% end %>

    <div>
      <a href='/spaces/new'>List a new space</a>
    </div>

      <a href= "/logout">Log out</a>  
  </body>
</html>
